
<div class="linkedin" href="http://www.linkedin.com/in/g-venkata-narendra-25b5bb22a"">
    <div class="image-bg">
     <img src="../images/indeed.png" alt=""  class="image" >
    </div>
  </div>
  <!-- <div class="Skils">
    <div class="Courses_skils boreder-4">
      <h1 class="B-1">60%</h1>
      <p class="text-5 B-1">JQUREY</p>
    </div>
    <div class="Courses_skils boreder-4">
      <h1 class="B-1">60%</h1>
      <p class="text-5 B-1">JQUREY</p>
    </div>
    <div class="Courses_skils boreder-4">
      <h1 class="B-1">60%</h1>
      <p class="text-5 B-1">JQUREY</p>
    </div>
  </div> -->