
<div class="linkedin">
    <div class="image-bg">
      <img src="../images/naukri.png" alt=""  class="image">
    </div>
  </div>
  <!-- <div class="Skils">
  <div class="Courses_skils boreder-2">
    <h1 class="B-1">65%</h1>
    <p class="text-3 B-1">JAVASCRIPT</p>
  </div>
  <div class="Courses_skils boreder-2">
    <h1 class="B-1">65%</h1>
    <p class="text-3 B-1">JAVASCRIPT</p>
  </div>
  <div class="Courses_skils boreder-2">
    <h1 class="B-1">65%</h1>
    <p class="text-3 B-1">JAVASCRIPT</p>
  </div>
</div> -->